@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

:root {
    --red: #ff5833;
    --cream: #d1c1a6;
}

body {
    font-family: "Josefin Sans", sans-serif;
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    object-fit: contain;
}

header {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5em;
    color: var(--cream);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
    padding: 5px 0 0 5px;
}

header span {
    color: var(--red);
}

main {
    padding-top: 30px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#todo-done-container {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border: 1px solid var(--cream);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    border-radius: 40px;
}

#todo-done-container > div:nth-child(1) {
    width: auto;
    font-size: 2em;
    line-height: 30px;
    color: var(--cream);
}

#todo-done-container > div:nth-child(1) > p:nth-child(1) {
    font-weight: 700;
}

#todo-done-container > div:nth-child(1) > p:nth-child(2) {
    font-weight: 100;
    font-size: 1.5rem;
}

#todo-done-container > div:nth-child(2) {
    background-color: var(--red);
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    color: black;
    font-weight: 700;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 10px;
}

form > input {
    background-color: #1e1e1e;
    border: none;
    color: var(--cream);
    width: 100%;
    height: 45px;
    border-radius: 15px;
    margin-right: 25px;
    padding-left: 25px;
    font-size: 1.2em;
}

input::placeholder {
    color: var(--cream);
    opacity: 0.3;
}

input:focus {
    outline: none !important;
    border: solid 1px var(--cream);
}

form > button {
    width: 45px;
    height: 100%;
    border-radius: 50%;
    color: black;
    background-color: var(--red);
    font-size: 2em;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.not-done {
    text-decoration: none;
}

.task-list {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
}

.hidden {
    display: none !important;
}

.list-item {
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--cream);
    font-size: 1.5em;
    font-weight: 900;
    color: var(--cream);
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #1e1e1e;
}

.edit-form {
    border: 1px solid var(--cream);
    font-size: 1em;
    padding: 0 10px;
}

li > button {
    width: 25px;
    aspect-ratio: 1/1;
    padding: 0;
    background-color: black;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

li > p {
    width: 100%;
}

#button-container {
    display: flex;
    gap: 15px;
}

#button-container > button {
    background-color: black;
    border: none;
    width: 20px;
    aspect-ratio: 1;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .task-list {
        grid-template-columns: repeat(2, 1fr);
    }
    main {
        padding-top: 75px;
    }
}

@media (max-width: 750px) {
    .task-list {
        grid-template-columns: 1fr;
    }
    main {
        padding-top: 75px;
    }
}
